# --- Bittensor ---
BITTENSOR_WALLET_PATH=~/.bittensor/wallets/<your-wallet>/hotkeys/<your-hotkey>
BITTENSOR_WALLET_COLD=<coldkey>
BITTENSOR_WALLET_HOT=<hotkey>
BABELBIT_TEMPO=100

# --- Chutes ---
CHUTES_USERNAME=...
CHUTES_API_KEY=...
CHUTES_MINER_BASE_URL_TEMPLATE=https://{slug}.chutes.ai

# --- HuggingFace ---
HUGGINGFACE_USERNAME=...
HUGGINGFACE_API_KEY=...

# --- Signer ---
SIGNER_SEED=xx
SIGNER_URL=http://127.0.0.1:8080

# --- Bittensor Network ---
BABELBIT_NETUID=59
BITTENSOR_SUBTENSOR_ENDPOINT=finney
BABELBIT_TEMPO=300
BB_UTTERANCE_ENGINE_URL=https://api.babelbit.ai

# --- Utterance Engine API ---
BB_UTTERANCE_ENGINE_URL=http://127.0.0.1:8999

# --- Database ---
BB_ENABLE_DB_WRITES=1
PG_HOST=XX 
PG_PORT=25060
PG_DB=XX
PG_USER=XX 
PG_PASSWORD=XX
